.rules {
  list-style: none;

  &__title {
    color: var(--text-color);
    font: 900 1.2em 'Jost';
    margin-bottom: .5rem;
  }

  &__item {
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;

    &::before,
    &::after {
      background: linear-gradient(135deg, var(--field-color) 15%, var(--primary) 100%);
      border-radius: 1rem 1rem 0 1rem;
      content: '';
      height: 3rem;
      left: -1rem;
      overflow: hidden;
      position: absolute;
      top: -1rem;
      width: 3rem;
    }

    &::before {
      align-items: flex-end;
      box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
      content: counter(gradient-counter);
      color: var(--text-color);
      display: flex;
      font: 900 1.5em 'Jost';
      justify-content: flex-end;
      padding: 0.125em 0.25em;
      z-index: 1;
    }

    + li {
      margin-top: 2rem;
    }

    &__mobile {
      font-size: .8rem;
      padding: 1rem 1rem 1rem 1.3rem;

      &::before,
      &::after {
        height: 2rem;
        width: 2.2rem;
      }
    }
  }
}