.quiz {
  display: grid;
  grid-template-columns: 256px 1fr;

  &__mobile {
    display: grid;
    grid-auto-columns: 1fr;
  }

  &__countdown {
    align-self: end;
  }

  &__content {
    padding: 10px 0 60px 0;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  &__btn {
    margin-top: 50px;
    align-self: end;
    border-radius: 4px;

    &__text {
      font-size: 20px;
      color: var(--light-text-color);
      font-weight: bold;
      font-family: 'Jost', sans-serif;

      &_mobile {
        font-size: 14px;
      }
    }

    &_mobile {
      margin-top: 20px;
    }
  }

  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
  }
}