.card {
  background-color: var(--white);
  box-shadow: 0 0 10px var(--primary-light);

  &__img {
    position: relative;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(0 8px 10px var(--primary-light));
    max-width: 130px;
    max-height: 100px;
  }

  &__text {
    color: var(--text-color);
    font-family: 'Jost', sans-serif;

    &_light {
      color: var(--light-text-color);
    }
  }
}
