.image {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  &__owl {
    width: 30%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__wave {
    width: 100%;
    bottom: 0;
  }
}

.login {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__form {
    width: 100%;
  }

  &__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--background);
    border: 1px solid var(--primary);
    margin: 0 auto;

    &__mobile {
      width: 50px;
      height: 50px;
    }
  }

  &__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;

    &__mobile {
      font-size: 1.2rem;
    }
  }

  &__info {
    text-align: end;
    font-size: .8rem;
    color: var(--grey);
    font-family: 'Jost', sans-serif;
  }

  &__button {
    color: var(--light-text-color);
  }
}