.sidebar {
  height: 100%;
  background-color: var(--primary-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  font-family: 'Jost', sans-serif;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--light-text-color);
    font-size: 27px;
    font-weight: bold;
  }

  &__item{
    color: var(--light-text-color);
  }

  &__progress {
    background-color: var(--light-text-color);
    border-radius: 25px;
  }

  &__footer {
    width: 100%;
    color: var(--light-text-color);
    font-size: 23px;
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__burger {
    color: var(--primary-dark);
    position: absolute;
    top: 15px;
    left: 15px;
  }
}