:root {
  --primary: #f99678;
  --primary-light: #faa389;
  --primary-dark: #f98967;
  --field-color: #fee5dd;
  --text-color: #190c09;
  --white: #ffffff;
  --light-text-color: #fef2ee;
  --background: #fee5dd;
  --danger: #fe1911;
  --grey: #808080;
  --violet: #4a25cc;
  --violet-dark: #321978;
}
