.error {
  &__404 {
    margin: 2rem 0 2rem 2rem;
    font-family: 'Jost', sans-serif;
    color: var(--text-color);
    width: fit-content;
    background-color: var(--light-text-color);
    padding: 0.5rem;
    border-radius: 4px;
  }

  &__main {
    display: flex;
    gap: 4rem;
    margin: 0 8rem;

    &__mobile {
      flex-direction: column;
      gap: 2rem;
      margin: 0 2rem;
    }
  }

  &__image {
    width: 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__header {
    font-family: 'Jost', sans-serif;
    color: var(--text-color);
    font-size: 3rem;
    margin: 0;

    &__mobile {
      font-size: 2rem;
    }
  }

  &__description {
    font-family: 'Jost', sans-serif;
    color: var(--text-color);
    font-size: 1.5rem;

    &__mobile {
      font-size: 1rem;
    }
  }

  &__link {
    font-family: 'Jost', sans-serif;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    background-color: var(--primary);
    width: fit-content;
    padding: 0.5rem;
    border-radius: 4px;

    &__mobile {
      font-size: 1rem;
    }
  }
}
